a {
	color: inherit;
}

.feather-star {
	color: goldenrod;
}

.feather-trash-2 {
	color: red;
}

.badge a {
	color: white;
}

.review .card-header {
	display: none;
}

.single-review p {
	margin-bottom: 0;
}

.min-width-50 {
	min-width: 50%;
}

.website-logo img {
	max-width: 200px;
}
