{% extends '@EckinoxAdminUi/base.html.twig' %}

{%- block title -%}
	{% trans %}category.list.title{% endtrans %}
{%- endblock -%}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					{% embed "@EckinoxAdminUi/widgets/listing.html.twig" with {
						data: categories,
						entity: 'category',
						class: 'table-hover',
						columns: [
							{
								name: 'name',
								template: 'category/_column-name.html.twig',
							}
						],
						datatable: {
							search_by_column: true,
							attributes: {
								'data-order': '[[ 0, "asc" ]]',
								'data-page-length': '10',
							}
						}
					} %}
					{% endembed %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
