{% extends '@EckinoxAdminUi/base.html.twig' %}

{%- block title -%}
	{% trans %}website.list.title_by_category{% endtrans %}
{%- endblock -%}

{% block actions %}
	<a href="{{ path('website_list') }}" class="btn btn-secondary">
		<i class="fas fa-caret-right me-2"></i>
		{% trans %}website.list.global_list_link{% endtrans %}
	</a>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			{% for category in categories %}
				{% set websites = category.websites %}

				<div class="card">
					<div class="card-body">
						<h2>
							<span class="badge bg-info">{{ category.name }}</span>
						</h2>

						{% embed "@EckinoxAdminUi/widgets/listing.html.twig" with {
							data: websites,
							entity: 'website',
							class: 'table-hover',
							columns: [
								'name',
								'url',
								'averageRating',
							],
							datatable: {
								search_by_column: true,
								attributes: {
									'data-order': '[[ 2, "desc" ]]',
									'data-page-length': '10',
								}
							}
						} %}
						{% endembed %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
