{% extends '@EckinoxAdminUi/base.html.twig' %}

{%- block title -%}
	{% trans %}website.list.title_global{% endtrans %}
{%- endblock -%}

{% block content %}
	<a href="{{ path('website_list_by_category') }}">
		{% trans %}website.list.list_by_category_link{% endtrans %}
	</a>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					{% embed "@EckinoxAdminUi/widgets/listing.html.twig" with {
						data: websites,
						entity: 'website',
						class: 'table-hover',
						columns: [
							'name',
							{
								name: 'category.name',
								template: 'website/_column-category-name.html.twig',
							},
							'url',
							'averageRating',
						],
						datatable: {
							search_by_column: true,
							attributes: {
								'data-order': '[[ 3, "desc" ]]',
								'data-page-length': '10',
							}
						}
					} %}
					{% endembed %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
