{% extends 'base-public.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("css/main.css") }}">
{% endblock %}

{%- block title -%}
	{% trans %}website.list.title{% endtrans %}
{%- endblock -%}

{% block actions %}
	{% if filteredByCategory %}
		<a href="{{ path('website_list') }}" class="btn btn-secondary">
			<i class="fas fa-caret-left me-2"></i>
			{% trans %}website.list.global_list_link{% endtrans %}
		</a>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						{% embed "@EckinoxAdminUi/widgets/listing.html.twig" with {
							data: websites,
							entity: 'website',
							class: 'table-hover',
							columns: [
								'name',
								{
									name: 'category.name',
									template: 'website/_column-category-name.html.twig',
									search: {
										type: 'select',
										options: websites|getCategoriesFromWebsites(websites),
									}
								},
								'url',
								{
									name: 'averageRating',
									search: {
										enabled: false,
									}
								},
							],
							actions: {
								view: {
									route_name: 'website_view',
									route_parameters: {id: 'id'},
									icon: 'fa-search',
								},
							},
							datatable: {
								search_by_column: true,
								search_by_column_type: 'header_column',
								attributes: {
									'data-order': '[[ 3, "desc" ]]',
									'data-page-length': '10',
								}
							}
						} %}
						{% endembed %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
